# Archivo PDF del proyecto
2024_Proyecto_Innovación_Docente_TFG_y_TFM_UGR-3.pdf

# Carpetas ignoradas
Notas/
book/
proyect/
worlds/
Others/
cartographer_config/

# Carpetas de compilación y logs (ROS 2), en cualquier subdirectorio
build/
install/
log/